<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
	<div class="restaurant">
		<p><%= restaurant[:name] %>; <%= restaurant[:address] %>; <%= restaurant[:phonenumber] %>; <%= restaurant[:cuisine] %></p>
	</div>
<% end %>